* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  background-color: lightyellow;
  padding: 16px;
  margin: 8px;
  border-radius: 10px;
  height: 300px;
  width: 240px;
  box-shadow: 2px 2px 19px 4px #cacaca;
}

.note-add {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.note-add:hover {
  background: #1d49aa;
}

.note-add:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cdb6ee;
}

.note-edit {
  padding: 4px;
  cursor: pointer;
}

.note-delete {
  padding: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
}
#note-text {
  max-width: 210px;
  max-height: 190px;
  overflow: auto;
}

#note-textarea {
  width: 210px;
  height: 190px;
  max-width: 210px;
  max-height: 190px;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
}

#note-title-input {
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: auto;
}

#note-title {
  overflow: auto;
  max-height: 50px;
}